

.p-gallery-wrapper {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    border-radius: 10px;
    overflow: hidden;
}

.p-gallery *, .p-gallery {
    position: relative;
}

.p-gallery {
    width: 100%;
    height: 100%;
}

.p-gallery .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

.p-gallery .slide-text {
    margin: 10px 20px;
}

.p-gallery .slide-text-wrapper {
    background: white;
}

.p-gallery .slide-img {
    background: #222;
    text-align: center;
}
.p-gallery .slide-img img {
    max-width: 100%;
    max-height: 100%;
}

.p-gallery .panel {
    position: absolute;
    bottom: -32px;
    height: 32px;
    width: 100%;
    text-align: center;
    background: #777777;
    background: -moz-linear-gradient(top,  #777777 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #777777 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #777777 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #777777 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #777777 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.p-gallery .panel .prev,
.p-gallery .panel .next,
.p-gallery .panel .play {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(sprite.png);
}

.p-gallery .panel .play {
    width: 24px;
    height: 24px;
}

.p-gallery .panel .prev {
    margin-right: 15px;
    background-position: 0 -230px;
}

.p-gallery .panel .next {
    margin-left: 15px;
    background-position: 0 0;
}


.p-gallery .panel .nav span {
    display: inline-block;
    top: -8px;
    width: 16px;
    height: 16px;
    margin: 0 10px;
    border-radius: 8px;
    background: white;
    cursor: pointer;
}

.p-gallery .panel .play {
    position: absolute;
    top: 3px;
    right: 20px;
    background-position: 0 -156px;
}
.p-gallery .panel .play.pause {
    background-position: 0 -82px;;
}

.p-gallery .panel .prev.disabled,
.p-gallery .panel .next.disabled,
.p-gallery .panel .nav span.disabled,
.p-gallery .panel .play.disabled {
    opacity: .5;
    cursor: default;
}

.p-gallery .panel .number-caption {
    position: absolute;
    left: 20px;
    font-size: 16px;
    line-height: 32px;
    color: white;
    font-weight: bold;
}